body {
    width: 800px;
    margin: 0 auto 20px;
    background-color: rgb(159, 159, 217);
}

.buttonFirst {
    display: inline;
}
section {
    display: flex;
    justify-content: space-between;
}
div {
    background-color: rgb(171, 11, 11);
    height: 150px;
    width: 150px;
    margin: 10px;
    border: 5px solid rgb(206, 7, 7);
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin-left: 5px;
    display: block;
    background-color: rgb(171, 11, 196);
    color: white;
    border-radius: 3px;
    border: solid 5px rgb(171, 11, 196) ;
}

input {
    margin: 5px;
    width: 35%;
}

textarea {
    display: block;
    margin: 5px ;
    width: 100%;
   
}

#divTaskThree {
    background-color: rgb(17, 62, 145);
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap:break-word;
    width: 550px;
}

img {
    width: 100%;
    margin-bottom: 15px;
    height: 300px;
   display: block;
   text-align: center;

}

p {
    background-color: rgb(17, 62, 145);
    width: 50px;
    margin: 5px;
}

h3 {
    font-size: 1rem;
    margin: 5px;
}

hr {
    margin-bottom: 20px;
}

input[type="button"] {
    background-color: rgb(171, 11, 196);
    color: white;
    border-radius: 3px;
    border: solid 1px rgb(171, 11, 196) ; 
}
