* {
    margin: 0;
    padding: 0;
}

:root {
    --main: #4f0ed0;
    --sub: #841cf3;
    --dark: #e6e20d;
}

body {
    background: linear-gradient(50deg, var(--main) -10%, var(--dark) 110%);
    font-size: 3vh;
    height: 100vh;
}

.container {
    text-align: center;
    padding-top: 40vh;
    color: rgb(52, 14, 243);
    text-transform: uppercase;
    font-family: Montserrat, sans-serif;
}

a {
    display: inline-block;
    padding: 0.9em 1.4em;
    margin: 1em;
    font-size: 0.7em;
    background: rgb(223, 13, 13);
    color: var(--dark);
    text-transform: uppercase;
    border-radius: 10px;
    text-decoration: none;
}
